body {
    /*background-image: url(../Downloads/greenery2.jpg);*/
	background-color: green;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  
}

h1 {
    color: orange;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
	margin-right :100px;
}

#headline{
   color:white;
   text-align:center;
}


.btn {
  background: #2e3336;
  background-image: -webkit-linear-gradient(top, #2e3336, #3f4b52);
  background-image: -moz-linear-gradient(top, #2e3336, #3f4b52);
  background-image: -ms-linear-gradient(top, #2e3336, #3f4b52);
  background-image: -o-linear-gradient(top, #2e3336, #3f4b52);
  background-image: linear-gradient(to bottom, #2e3336, #3f4b52);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #f4f7f5;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#mybuttons{
   margin-bottom :10px;
   padding:175px 0 0 390px;
}


#myDIV
{
   background-color: white;
   margin-top: 150px;
   position: relative;
}